node_modules
.pnpm-store
.DS_Store
.eslintcache
.idea
.vscode

.env
.env.local
.env.*.local

.next
dist
build
coverage
.expo
.expo-shared
.turbo
.vercel
out
*.tsbuildinfo

apps/desktopapp/src-tauri/target
apps/desktopapp/src-tauri/gen

package-lock.json
yarn.lock
*.log
